.why_ya_prime_pointer{
	background: #F9FAFB;
	padding: 80px 0;
	border-radius: 10% 10% 0 0;
}
.pointer_heading{
	text-align: center;
}
.pointers_para{
	text-align: center;
}
.image-box-pointers {
    display: inline-flex;
    align-items: center;
    border: 2px solid #fac213;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px 0;
    transition-duration: .3s;
}
.image-box-pointers:hover{
	background: #FEFCF6;
	border-radius: 0px 20px;
	transition-duration: .3s;
	cursor: pointer;
}
.pointers_image{
	width: 20%;
	margin-right: 20px;
}
.image-box-pointers:hover p{
	color: #000;
}
.poimters_row_two{
	margin-top: 30px;
}
.about_us_why{
	padding: 80px 0;
	background-color: transparent;
    background-image: linear-gradient(90deg, #F4F6F9 50%, #fac213 50%);
}