@media(min-width:320px) and (max-width:676px){
	.unique_feature_sec .col-md-3{
		width: 100%!important;
		flex:100%!important;
	}
	.br_db{
		display: none;
	}
	.about_banner{
		padding: 50px 0;
	}
	.unique_feature_sec, .benefits_sec{
		padding: 50px 0!important;
	}
	.mobile_images{
		display: none;
	}
	.col-md-6.pricing_col_6_first, .col-md-6.pricing_col_6_third, .col-md-6.pricing_col_6_second, .col-md-6.pricing_col_6_fourth{
		width: 90%;
	    max-width: 90%;
	    margin: 0 auto;
	    margin-top: 30px;
	}
	.row_check_white{
	  margin-top: 0px;
	}
	.pricing_sec_personal .pricing{
		margin-top: 50px;
	}
	.recommended{
		top: 26px!important;
	}
	.mob_right{
		margin-top: 20px;
	}
	.admin_banner_image{
		margin-top: 50px;
	}
	.pricing_sec .pricing{
		margin-top: 50px;
	}
	.contact_talk_to{
		background: none!important;
		padding: 80px 0;
	}
	.pricing_sec{
		background-image: -webkit-linear-gradient(100deg, #000 98%, #ffffff 50%);
    	padding: 100px 0 150px;
	}
	.crm_content_right{
		margin-top: 50px;
	}
	.mt_4_banner{
		padding: 50px 0;
	}
	.partners-section{
		padding: 10px;
	}
	.tab-border{
		padding: 10px;
	}
	.qoute_wrapper_yellow, .qoute_wrapper_black{
		margin-top: 20px;
	}
	.trading_cards_row_two{
		margin-top: 0;
		flex-direction: column-reverse;
	}
	.unique-section{
	  padding: 80px 20px 0;
	}
	.statistic2{
		padding: 80px 10px;
		border-radius: 0;
		margin: 0;
	}
	.index_banner{
		font-size: 35px;
		line-height: 40px!important;
	}
	.carousel-caption{
		bottom: 20%;
	}
	.about_row_two{
		margin-top: 0;
	}
	.career-details-row{
		flex-direction: column-reverse;
	}
	.career_row-two-detail{
		margin: 40px 0;
	}
	.contact_above_footer.con {
	    width: 100%!important;
	    max-width: 100%!important;
	}
	.contact-us-row{
		padding: 0 10px;
	}
	.about_us_why{
		background-image: linear-gradient(180deg, #F4F6F9 50%, #fac213 50%);
	}
	.yaPrime_why_image {
	    margin-top: 50px;
	}
	.poimters_row_two .qoute_wrapper_black {
	    margin: 0;
	}
	.poimters_row_two{
		margin-top: 10px;
	}
	.teams_card.two {
	    margin-top: 20px;
	}
	.team_row_two{
		margin-top: 0px;
	}
	.blog-grid-row{
		margin:0;
	}
	.white_label .benefits_row_two .col-md-3 {
	    width: 50%;
	}
	.unique_h1{
		font-size: 35px;
	}
	.crm_api_image_banner{
		width: 100%;
	}
	.text_uiux_heading{
		text-align: center;
		margin-bottom: 20px;
	}
}
