



*{
    margin: 0;
    padding: 0;
    text-decoration:none ;
    list-style: none;
   
}
/* hearder Section  */
/* .outer_navbar_styling {
    z-index: 100;
    display: inline-flex;
    position: fixed;
    height: 72px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }
  
  .navbar_styling {
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01),
      0px 4px 4px 0px rgba(0, 0, 0, 0.02);
    display: flex;
    height: 72px;
    padding: 12px 120px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 1440px;
  }
  
  .logo_layout {
    display: flex;
    width: 108px;
    height: 48px;
    padding: 0.09px 0px 0.087px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .option_section {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .menu_options {
    display: flex;
    align-items: center;
  }
  .menu_item {
    display: flex;
    padding: 0px 12px;
    align-items: center;
    gap: 4px;
    color: #222;
   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
  }
  .free_qoute {
    display: flex;
    height: 40px;
    padding: 8px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #fac211;
    color: #222;
    leading-trim: both;
    text-edge: cap;
   
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .arrow {
    display: flex;
    width: 12px;
    height: 20px;
    padding: 4px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrow_image {
    display: flex;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #222222;
  }
  
  .right_arrow {
    width: 16px;
    height: 16px;
  } */
  /* End Of Header section */

  /* Hero section */
  /* .hero-section{
    position: relative;
  }
  .slider__navi {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}



.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 16px;
	letter-spacing: 0.1rem;
	text-transform: capitalize;
    padding: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
}

.text--big {
	font-family: 'Poppins', sans-serif;
	font-size: 4.5em;
	font-weight: 700;
	line-height: 85px;
    color: #222;
  margin-left: -8px;
}

.text--normal {
	font-size: 13px;
	color: rgba(34, 34, 34, 0.52);
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}



.flex--piplup .flex__item--left {
	
}

.flex--piplup .flex__item--right {
	background: #f8d41f;
}



.flex--pikachu .flex__item--left {
	background: #f8d41f;
}

.flex--pikachu .flex__item--right {
	background: #333;
}



.flex--blaziken .flex__item--left {
	background: #f8d41f;
}

.flex--blaziken .flex__item--right {
	background: #333;
}


.flex--dialga .flex__item--left {
	
}

.flex--dialga .flex__item--right {
	background: #f8d41f;
}



.flex--zekrom .flex__item--left {
	background: #f8d41f;
}

.flex--zekrom .flex__item--right {
	background: #333;
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
	position: absolute;
	bottom: 20px;
	right: 15%;
	max-height: 40vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}



.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}



.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
} */
  /* end of Hero section */

/* footer section */
/* .footer-section{
    display: flex;
  
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    color: rgba(34, 34, 34, 0.52);
    background-color: #f9fafb;

}

.address{
display: flex;
flex-direction: column;

}
h4{
    color: black !important;
}
.social-media-icon{
    display: flex;
    flex-direction: row;


}
.social-media-icon a {
    margin-right: 2%;
    font-size: x-large;
    color: black;
  
}
.col-width{
    max-width:  20% !important;
}
.col-width h6{
    color: black;
}
.col-width a{
   
        text-decoration: none;
       color:  rgba(34, 34, 34, 0.52);
    
}
.col-width a:hover{
    text-decoration: none;
    color: #FAC211;
}
.copyrights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* end of footer section */


/* Talk to Us  */
.ContactFormContainer{
    display: flex;
    padding: 64px !important;
    color:rgba(34, 34, 34, 0.52);
    align-items: center;
    gap: 64px;
    align-self: stretch;
    border-radius: 40px;
background: #F9FAFB;
}
.ContactFormContainer h1{
    color: black;
    font-size: 40px;
}

.form-style{
    margin: 5%;
}
.input-style{
    margin-bottom: 5% !important;
}

input{
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 10px;
    height: 50px !important;
    align-self: stretch;
    border-radius: 8px;
}

input:focus{
 
 box-shadow: none !important;
border-top: 1px solid #FAC211 !important;
border-right: 1px solid #FAC211 !important;
border-bottom: 3px solid #FAC211 !important;
border-left: 1px solid #FAC211  !important;
background: #FFF;
}
input[type=text],input[type=email]{
  color: rgba(34, 34, 34, 0.52) !important;
   
   }
   

textarea{
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 10px;
    height: 200px !important;
    align-self: stretch;
    border-radius: 8px;
}
textarea::placeholder{
    color: rgba(34, 34, 34, 0.52);
}

textarea:focus{
    box-shadow: none !important;
    border-top: 1px solid #FAC211 !important;
    border-right: 1px solid #FAC211 !important;
    border-bottom: 3px solid #FAC211 !important;
    border-left: 1px solid #FAC211  !important;
    background: #FFF;
}

.submit-btn{
    display: flex;
height: 48px;
padding: 8px 24px;
align-items: center;
gap: 8px;
border-radius: 8px;
border: none !important;
background: #FAC211 !important;
}
/* End oF Talk to Us  */


/* statistics Section */
.statistic{
    display: flex;

padding: 64px 120px;
background-image: url(../images/BG.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
gap: 64px;


}


.statistic h1{
    color: #FAC211;

font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1px;
}
.statistic h4{
    color: #222;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}
.statistic p{
    color: rgba(34, 34, 34, 0.52);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
/* end of statistics Section */


/* skill section  */

.skill-section{
    padding: 128px 120px;

}

.Skill-text{
  color: #222;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px
}
.Skill-text p{
  color: rgba(34, 34, 34, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.skill-card{
  color: #222;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.skill-card1{
  color: #222;
position: absolute;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.skill-card p{
  color: rgba(34, 34, 34, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px
}
.skill-card1 p{
  color: rgba(34, 34, 34, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px
}
.skill-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-card-header i{
  color: #00B14F;
}
.skill-cards{
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 position: relative;
}

.skill-cards:first-child{
  align-self:flex-start;
}

.skill-cards:last-child{
  align-self:flex-end;
}

/* end of  skill section  */


/* reputed section  */
.reputed-section{


background-image: url(/images/MicrosoftTeams-image.png);
background-position: auto;
background-repeat: no-repeat;
background-size: cover;
padding: 156px 120px; 
text-align: center;
background-color: transparent;
}

.reputed-section h1{
  color: #FFF;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
}

.reputed-section p{
  color: rgba(255, 255, 255, 0.52);
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}


.whitelabel-card{
  display: flex;

padding: 24px;
align-items: center;
gap: 24px;
border-radius: 16px;
background: #1A1A1A;
text-align: left;
margin-bottom: 6%;
}

.whitelabel-mt4{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  border-radius: 10px;

}

.whitelabel-card span{
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.whitelabel-mt4 p{
  color: rgba(255, 255, 255, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;  
}


.whitelabel-mt4 h5{
  color: #FAC211;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px 
}

.whitelabel-mt4 button{
  display: flex;
  height: 40px;
  padding: 8px 20px;
  align-items: center;
  gap: 8px;
border-radius: 8px;
background: #FAC211;
}
.quotes-price{
  display: flex;
width: 400px;
height: 248px;
padding: 24px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
border-radius: 16px;
border: 2px solid #FAC211;
background: #FAC211;
}

.quotes-price h5{

color: #222;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
.quotes-price p{
  color: rgba(34, 34, 34, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.quotes-price button{
  display: flex;
height: 40px;
padding: 8px 20px;
align-items: center;
gap: 8px;
border-radius: 8px;
color: #222;
background: #FFF !important;
}





.whitelabel-mt4 img{
  border-radius: 10px;
  width: 25%;
}


.crm-card{
  display: flex;

  padding: 24px;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: #1A1A1A;
  text-align: left;
}
/* end of  reputed section  */


/* Features card */
.unique-section{
  text-align: center;
  background-color: #F9FAFB;  
  padding: 128px 120px 256px 120px;
  gap: 64px;
}
.unique-section h1{
  color: #222;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
}
.unique-section p{
  color: rgba(34, 34, 34, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.featured-card-wrapper{
  display: flex;
  justify-items: space-between;
}
.featured-card{
  margin-bottom: 20%;
  padding: 5px;
  text-align: left;
  }

.featured-card h5{
  color: #222;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px
}
.feqatured-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-sidebar{
  display: grid !important;
  align-items: center !important;
  align-self: center !important;
}
/* 
.featured-image{
  background-image: url(/images/block.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 50px;
} */




/* OurBlogs Section */
.our_blog_section{
  display: flex;

padding: 0px 120px 100px 120px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 64px;
}
.our_blog_grid{
  display: flex;

padding: 120px ;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 64px;
}
.blog-grid-row{
  margin: 4%;
}

.blogs-heading{
  gap: 12px;  
}

.blogs-heading span{
  color: #FAC211;

font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 2px;
text-transform: uppercase;
}

.blogs-heading h1{
  color: #222;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
margin-bottom: 4%;
}

.blog-date-container{

padding: 16px 24px 24px 24px;
align-items: flex-start;
gap: 26px;
align-self: stretch;
}
.blog-date{
  display: flex;
height: 32px;
padding: 10px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid rgba(34, 34, 34, 0.12);
background: rgba(34, 34, 34, 0.02);
}
.blogs-card-content{
  display: flex;
padding: 32px 24px 16px 24px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;

}

.hover-content{
  display: none;
}

.card-para.hover-content:hover{
  display: flex;
}

.blog-btn{
  display: flex;
height: 32px;
padding: 10px 12px;
font-size: 13px !important;
justify-content: center !important;
align-items: center !important;
gap: 10px;
border-radius: 100px !important;
border: 1px solid rgba(34, 34, 34, 0.12) !important;
background: rgba(34, 34, 34, 0.02) !important;
color: #222 !important;
font:normal !important;

}
/* p.blog-des {
  display: none;
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.blog-content:hover .card-text {
  display: block;
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.blog-content{
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.blog-content:hover {
  animation-name: bounce;
  animation-timing-function: ease;
  transform: translateY(-8px);
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-out;
} */
.blog-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  transition: 0.5 ease;
  cursor: pointer;
  transition: 0.5s ease-in
}
.blog-card:hover {
  transition:0.5s ease-out;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.blog-grid-section{
  display: flex;
padding: 0px 120px 129px 120px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 48px;
}

.Details-hero-section{

  display: flex;
justify-content: center;
align-items: center;
gap: 64px;
padding: 128px 120px;
}

.blog-hero-content{
  color:rgba(34, 34, 34, 0.52);
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
font-size: 14px !important;
}

.blog-hero-content h1{
  font-size: 40px;
  color: #222;
}

.blog-hero-content span{
  color: #222;
}

.blog-hero-content ul{
  display: flex;
  flex-direction: row;
gap: 36px;
list-style: disc !important;

}

.blog-description{
  display: flex;

padding: 0px 120px;
justify-content: center;
align-items: flex-start;
gap: 64px;

}
.blog-description p{
  color: rgba(34, 34, 34, 0.52);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-bottom: 20px;
}

.blog-description h4{

color: #222;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin-bottom:16px;
}

.blogs-des-cards{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;

}

/* End Of Blogs section */