/*Banner Start*/
.mt_4_banner {
  background: url(../images/mt4-banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  margin-top: -20px;
}
.mt4_h4 {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: Inter;
  color: #fac211 !important;
  text-align: center;
}
.mt4_h1 {
  font-size: 40px;
  line-height: 56px;
  font-family: Sora;
  color: #fff;
  text-align: center;
}
.mt4_p {
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.52);
  text-align: center;
}
.mt4_anchor {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  color: #fac211;
  border-radius: 8px;
  border: 1px solid #fac211;
  background: #101010;
}
.mt4_anchor:hover {
  color: #fff;
  text-decoration: none;
}
.start_broker {
  text-align: center;
  margin-top: 30px;
}
/*Banner Start*/

/*Benefits Start*/
.benefits_sec {
  padding: 100px 0;
  background: url(../images/benefits_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.benefits_left {
  display: grid;
  align-items: center;
  align-self: center;
}
.benefits_h3 {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.benefits_h2 {
  color: #222;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.benefits_p {
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.benefits_row_two {
  margin-top: 50px;
}
.icon_box_heading {
  color: #222;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}
.icon_box_para {
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/*Benefits Start*/

/*Pricing Start*/
.pricing_sec {
  background: url(../images/pricing_bg.png);
  padding: 200px 0 150px;
  background-repeat: no-repeat;
  background-size: cover;
}
.pricing-plans {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: Inter;
  color: #fac211;
  text-align: center;
}
.check-our-white {
  position: relative;
  font-size: 40px;
  line-height: 56px;
  font-family: Sora;
  color: #fff;
  text-align: center;
}
.pricing_row_two {
  margin-top: 50px;
}
.mt4-limited {
  position: relative;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  font-family: Sora;
  color: #fff;
  text-align: left;
}
.pricing_para {
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.52);
}
.experience-in-forex {
  font-size: 16px;
  line-height: 12px;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.52);
  text-align: center;
}
.one-time-setup-container {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
  font-family: Inter;
}
.month {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.parent {
  width: 100%;
  border-radius: 8px;
  background-color: #101010;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-family: Inter;
  margin-bottom: 30px;
}
.btton {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #ebebef;
  transition-duration: 0.3s;
}
.button1.btton {
  border: 1px solid #fbc212;
  transition-duration: 0.3s;
  background: #fbc212;
  color: #000;
}
.get-started:hover {
  text-decoration: none;
}
.get-started:hover .button1,
.get-started:hover .button,
.get-started:hover .button2 {
  transform: translateY(-10px);
  transition-duration: 0.3s;
}
.button a.get-started,
.button2 a.get-started {
  color: #fff;
}
.button,
.button2 {
  color: #fff;
}
.tick-parent {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.frame-parent1,
.frame-parent4 {
  margin-top: 30px;
}
.pricing {
  padding: 40px 20px;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background: #1a1a1a;
  transition-duration: 0.3s;
}
.pricing:hover {
  border-radius: 8px;
  padding: 40px 20px;
  border-top: 1px solid #fac211 !important;
  border-right: 4px solid #fac211 !important;
  border-bottom: 4px solid #fac211 !important;
  border-left: 1px solid #fac211 !important;
  background: #1a1a1a;
  transition-duration: 0.3s;
}
.recommended {
  display: flex;
  padding: 8px 20px;
  align-items: flex-start;
  border-radius: 5px;
  border: 2px solid #fac211;
  background: #1a1a1a;
  position: absolute;
  left: 30px;
  top: -24px;
  color: #fac211;
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.bottom_image {
  float: right;
  margin-top: -50px;
}

/*Pricing Start*/

/* Talk to Us  */
.talk_to_us_sec {
  padding: 150px 0 100px;
}
.ContactFormContainer {
  display: flex;
  padding: 64px !important;
  color: rgba(34, 34, 34, 0.52);
  align-items: center;
  gap: 64px;
  align-self: stretch;
  border-radius: 40px;
  background: #f9fafb;
}
.ContactFormContainer h1 {
  color: black;
}

.form-style {
  margin: 5%;
}
.input-style {
  margin-bottom: 5% !important;
}

input {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 10px;
  height: 50px !important;
  align-self: stretch;
  border-radius: 8px;
}

input:focus {
  box-shadow: none !important;
  border-top: 1px solid #fac211 !important;
  border-right: 1px solid #fac211 !important;
  border-bottom: 3px solid #fac211 !important;
  border-left: 1px solid #fac211 !important;
  background: #fff;
}
input[type="text"],
input[type="email"] {
  color: rgba(34, 34, 34, 0.52) !important;
}

textarea {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 10px;
  height: 200px !important;
  align-self: stretch;
  border-radius: 8px;
}
textarea::placeholder {
  color: rgba(34, 34, 34, 0.52);
}

textarea:focus {
  box-shadow: none !important;
  border-top: 1px solid #fac211 !important;
  border-right: 1px solid #fac211 !important;
  border-bottom: 3px solid #fac211 !important;
  border-left: 1px solid #fac211 !important;
  background: #fff;
}

.submit-btn {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: none !important;
  background: #fac211 !important;
}
/* End oF Talk to Us  */

/* footer section */
.footer-section {
  display: flex;

  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  color: rgba(34, 34, 34, 0.52);
  background-color: #f9fafb;
}

.address {
  display: flex;
  flex-direction: column;
}
h4 {
  color: black !important;
}
.social-media-icon {
  display: flex;
  flex-direction: row;
}
.social-media-icon a {
  margin-right: 2%;
  font-size: x-large;
  color: black;
}
.col-width {
  max-width: 20% !important;
}
.col-width h6 {
  color: black;
}
.col-width a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: rgba(34, 34, 34, 0.52);
}
.col-width a:hover {
  text-decoration: none;
  color: #fac211;
}
.copyrights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-section p {
  font-size: 14px;
}
.footer-section p b {
  color: #000;
}
/* end of footer section */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* hearder Section  */
.outer_navbar_styling {
  z-index: 100;
  display: inline-flex;
  position: fixed;
  height: 72px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.navbar_styling {
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01),
    0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  height: 72px;
  padding: 12px 120px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 1440px;
}

.logo_layout {
  display: flex;
  width: 108px;
  height: 48px;
  padding: 0.09px 0px 0.087px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.option_section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu_options {
  display: flex;
  align-items: center;
}
.menu_item {
  display: flex;
  padding: 0px 12px;
  align-items: center;
  gap: 4px;
  color: #222;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.free_qoute {
  display: flex;
  height: 40px;
  padding: 8px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fac211;
  color: #222;
  leading-trim: both;
  text-edge: cap;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.arrow {
  display: flex;
  width: 12px;
  height: 20px;
  padding: 4px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow_image {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #222222;
}

.right_arrow {
  width: 16px;
  height: 16px;
}
/* End Of Header section */

/* Hero section */
.hero-section {
  position: relative;
}
.slider__navi {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
}

.slider__navi a {
  display: block;
  height: 6px;
  width: 20px;
  margin: 20px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}

.slider__navi a.active {
  background: rgba(255, 255, 255, 1);
}

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.flex__container.flex--active {
  z-index: 2;
}

.text--sub {
  font-size: 16px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding: 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.text--big {
  font-family: "Poppins", sans-serif;
  font-size: 4.5em;
  font-weight: 700;
  line-height: 85px;
  color: #222;
  margin-left: -8px;
}

.text--normal {
  font-size: 13px;
  color: rgba(34, 34, 34, 0.52);
  line-height: 22px;
  margin-top: 25px;
}

.text__background {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 72px;
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700;
}

.flex__item {
  height: 100vh;
  color: #fff;
  transition: transform 0.1s linear;
}

.flex__item--left {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 65%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.flex__item--right {
  width: 35%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
}

.flex--piplup .flex__item--right {
  background: #f8d41f;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
  background: #f8d41f;
}

.flex--pikachu .flex__item--right {
  background: #333;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
  background: #f8d41f;
}

.flex--blaziken .flex__item--right {
  background: #333;
}

/* Dialga */

.flex--dialga .flex__item--left {
}

.flex--dialga .flex__item--right {
  background: #f8d41f;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
  background: #f8d41f;
}

.flex--zekrom .flex__item--right {
  background: #333;
}

.flex__content {
  margin-left: 80px;
  width: 55%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
  position: absolute;
  bottom: 20px;
  right: 15%;
  max-height: 40vw;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.43s 0.6s,
    transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0;
}

.flex__container.animate--start .pokemon__img {
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
  transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.flex__container.animate--end .pokemon__img {
  transform: translate3d(200px, 0, 0);
  opacity: 0;
}
/* end of Hero section */

/* footer section */
.footer-section {
  display: flex;

  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  color: rgba(34, 34, 34, 0.52);
  background-color: #f9fafb;
}

.address {
  display: flex;
  flex-direction: column;
}
h4 {
  color: black !important;
}
.social-media-icon {
  display: flex;
  flex-direction: row;
}
.social-media-icon a {
  margin-right: 2%;
  font-size: x-large;
  color: black;
}
.col-width {
  max-width: 20% !important;
}
.col-width h6 {
  color: black;
}
.col-width a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.52);
}
.col-width a:hover {
  text-decoration: none;
  color: #fac211;
}
.copyrights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* end of footer section */

/* Talk to Us  */
.ContactFormContainer {
  display: flex;
  padding: 64px !important;
  color: rgba(34, 34, 34, 0.52);
  align-items: center;
  gap: 64px;
  align-self: stretch;
  border-radius: 40px;
  background: #f9fafb;
}
.ContactFormContainer h1 {
  color: black;
}

.form-style {
  margin: 5%;
}
.input-style {
  margin-bottom: 5% !important;
}

input {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 10px;
  height: 50px !important;
  align-self: stretch;
  border-radius: 8px;
}

input:focus {
  box-shadow: none !important;
  border-top: 1px solid #fac211 !important;
  border-right: 1px solid #fac211 !important;
  border-bottom: 3px solid #fac211 !important;
  border-left: 1px solid #fac211 !important;
  background: #fff;
}
input[type="text"],
input[type="email"] {
  color: rgba(34, 34, 34, 0.52) !important;
}

textarea {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 10px;
  height: 200px !important;
  align-self: stretch;
  border-radius: 8px;
}
textarea::placeholder {
  color: rgba(34, 34, 34, 0.52);
}

textarea:focus {
  box-shadow: none !important;
  border-top: 1px solid #fac211 !important;
  border-right: 1px solid #fac211 !important;
  border-bottom: 3px solid #fac211 !important;
  border-left: 1px solid #fac211 !important;
  background: #fff;
}

.submit-btn {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: none !important;
  background: #fac211 !important;
}
/* End oF Talk to Us  */

/* statistics Section */
.statistic {
  display: flex;

  padding: 64px 120px;
  background-image: url(../images/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 64px;
}

.statistic h1 {
  color: #fac211;

  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}
.statistic h4 {
  color: #222;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.statistic p {
  color: rgba(34, 34, 34, 0.52);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
/* end of statistics Section */

/* skill section  */

.skill-section {
  padding: 128px 120px;
}
/* end of  skill section  */
/* dark header css */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

.navbar_styling_dark {
  display: flex;
  height: 72px;
  padding: 12px 120px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 1540px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01),
    0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  background-color: #222222;
}

.outer_navbar_styling {
  display: inline-flex;
  height: 72px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.menu_item_dark {
  display: flex;
  padding: 0px 12px;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.arrow_image_dark {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
}
/* header css */

.outer_navbar_styling {
  display: inline-flex;
  height: 72px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.navbar_styling {
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01),
    0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  height: 72px;
  padding: 12px 120px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
}

.logo_layout {
  display: flex;
  width: 108px;
  height: 48px;
  padding: 0.09px 0px 0.087px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.option_section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu_options {
  display: flex;
  align-items: center;
}
.menu_item {
  display: flex;
  padding: 0px 12px;
  align-items: center;
  gap: 4px;
  color: #222;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.free_qoute {
  display: flex;
  height: 40px;
  padding: 8px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fac211;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* hero section css */

.Hero_Section {
  background: #101010;
}
.prime_vip_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-top: 55px;
  margin-left: 40px;
}
.text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.inner_text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.heading_prime_vip {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.prime_vip_paragraph {
  color: #fff;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
}

.content {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.demo_contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
.request_demo {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fac211;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact_sales {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.image_section {
  display: flex;
  width: 596px;
  height: 440px;
  padding: 20px 30.321px 20px 30.32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.inner_image_section {
  width: 535.359px;
  height: 400px;
  flex-shrink: 0;
}

.postioning {
  position: relative;
}
.group_eclipse {
  width: 50%;
  height: 50%;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* Hero Banner Section Section */

.brokerage_section {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}
.further_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.further_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.further_text {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.get_started_button {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fac211;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.yellow_heading {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.postiondiv {
  justify-content: space-between;
}
.herobannerSection {
  display: flex;
  padding: 128px 120px 128px 0px;
  align-items: center;
  gap: 64px;
}
.Benefit_first_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.benefit {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.benefit_heading {
  color: #222;
  text-align: center;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  align-self: stretch;
}

.benefit_info {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 20px;
}
.Benefits_section {
  padding-top: 40px;
  background-color: #22222214;
  padding-bottom: 40px;
}

.feature_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.feature_first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -44px;
  padding-left: 90px !important;
  padding-right: 90px !important;
}
.ready_heading {
  color: #222;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.ready_para {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.pricing_section {
  display: flex;

  padding: 0px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #ffffff29;
  /* background-image: url("../images/backgroundblack.png"); */
}

.card1 {
  display: flex;
  border-radius: 16px;
  background-color: #fac211 !important;
  padding: 32px 48px;
  align-items: center;
  gap: 24px;
  display: flex;
  border: none !important;
}

.mission_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}
.inner_mission_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.learn_more_section {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inner_mission_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 48%;
}

.YaPrime {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: rgba(255, 255, 255, 0.48);
}

.YaPrimeMission {
  align-self: stretch;
  color: #222;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
}
.sizing-section {
  background: #fac211;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.sizing-section_new {
  background: #fac211;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.row_centering {
  justify-content: center;
  margin-top: 100px;
}
.ready_made_section {
  display: flex;

  padding: 48px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.ready_made_heading {
  color: #fff;
  font-family: Sora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.ready_made_text {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.heading300 {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fac211;
  font-family: Sora;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 140.625% */
  letter-spacing: -1px;
}
.position_rows {
  justify-content: center;
}

.yasection {
  display: flex;
  padding: 0px 48px 48px 48px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #ebebeb;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01),
    0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  flex-direction: column;
}
.yalogo_section {
  display: flex;

  padding: 0px 1.388px 0px 1.387px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 378px;
  height: 240px;
  flex-shrink: 0;
}
.yaPara {
  align-self: stretch;
  color: #222;
  text-align: center;
  font-family: Sora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
/* faq accordian Styling */

.h2__heading {
  color: #222;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
}
.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-size: 16px;
}
.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #222;
  float: right;
  margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1rem;
}
.typo_styling {
  color: #222;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
}
.styling_anchor {
  text-decoration: none !important;
  color: #222 !important;
}
.yellow_text {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* pricing plan section */
.pricing_plan_section {
  display: flex;
  padding: 128px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.heading {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.package_plans {
  color: #222;
  text-align: center;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
}
.package_discription {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.th_css {
  color: #222;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
}
.greentick {
  color: #00b14f;
}
.redtick {
  color: #ed1d24;
}

/* hero banner prime vvip section */
.Hero_banner_vvip_section {
  display: flex;
  padding: 128px 120px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background-image: url("../images/Hero.png");
  background-repeat: no-repeat;
}
.admin_consultation_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.prime_vvip_heading {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.prime_vvip_subheading {
  color: #222;
  text-align: center;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  align-self: stretch;
}
.prime_vvip_info {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.optionbotton_section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-top: 15px;
}
.request_a_demo_botton {
  border-radius: 8px;
  background: #fac211;
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact_sales_botton {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #ebebeb;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero_banner_vvip_section2 {
  display: flex;
  padding: 128px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -84px;
  border-radius: 64px 64px 0px 0px;
  background: #101010;
}
.rowcoloring_vvip {
  background: #1a1a1a;
  border-radius: 40px;
}

.prime_vvip_heading2 {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.prime_vvip_subheading2 {
  color: #fff;

  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  align-self: stretch;
}

.prime_vvip_info2 {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.positiongvvip {
  padding: 40px 35px 40px 35px !important;
}
.get_started_vvip_button {
  margin-top: 10px;
  display: flex;
  height: 48px;
  padding: 8px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fac211;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 130px;
}
.vvipsecimgage_section {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* banefit vvip package section */

.Benefit_vvip_section {
  display: flex;
  padding: 200px 120px 128px 120px;
  align-items: flex-start;
  gap: 64px;
  background: #f9fafb;
}
.benefit_yellow_heading {
  color: #fac211;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.benefit_preheading {
  color: #222;
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  align-self: stretch;
}
.benefit_vvip_discription69 {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.takecontrol_section {
  display: flex;
  align-items: center;
  gap: 16px;
}
.take_control_heading {
  color: #222;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.take_control_discription {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.card_modification {
  display: flex;
  border: none !important;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background: #fff;
}
.card_section_vvip1_package2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.card_section_vvip1_package1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 0;
  gap: 46px;
}
/* pricing prime vvip  */
.pricing_primevvip_package_section {
  display: flex;
  padding: 128px 120px 0px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.newimageforex_section {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 24px !important;
}
.card_modification2 {
  display: flex;
  border: none !important;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px !important;
  background: #f9fafb !important;
}
/*  prime-special section css*/

.prime_vip_paragraph_special {
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 140% */
  color: #222;
}
.content_special {
  align-self: stretch;
  color: rgba(34, 34, 34, 0.52);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.contact_sales_special {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #ebebeb;
  color: #222;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.prime_special_section {
  display: flex;
  padding: 100px 120px 128px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.herobannerSection_prime-special {
  display: flex;
  padding: 128px 120px 128px 0px;
  align-items: center;
  gap: 64px;
  background: #F9FAFB;
}
 
/* prime special feature section  */
.prime_special_feature_section{
  display: flex;
  padding: 256px 120px 0px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.special_section_image{
  height: 85%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}