.navbar_styling_dark {
  display: flex;
  height: 72px;
  padding: 12px 120px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 1540px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.01),
    0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  background-color: #222222;
}

.outer_navbar_styling {
  display: inline-flex;
  height: 72px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.menu_item_dark {
  display: flex;
  padding: 0px 12px;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.arrow_image_dark {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
}
